<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Специально для Вас мы заморозили цены на весь модельный ряд LEXUS!</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoMgfWKqcPPgOex-pMvQ74jRJweHqEk3I"></script>
	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>
	<script src="js/sets.js"></script>
	<script src="js/libs.min.js"></script>

</head>

<body>
	<!-- Google Analytics START -->
	<!-- PUT YOUR CODE HERE -->
	<!-- Google Analytics END -->

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		if(sets.ya_metrika != 0){
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.window['yaCounter' + sets.ya_metrika] = new Ya.Metrika({
							id: sets.ya_metrika,
							clickmap:true,
							trackLinks:true,
							accurateTrackBounce:true,
							webvisor:true, 
							triggerEvent:true
						});
					} catch(e) { }
				});
				var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = "https://mc.yandex.ru/metrika/watch.js";

				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		}
	</script>
	<template id="ya-metrika"></template>
	<!-- /Yandex.Metrika counter -->

	<div id="app">
		<header>
			<div class="container">
				<a href="#" v-on:click.prevent="scrollTo('main-offer')" class="logo-link">
					<div class="logo">
						<img src="img/logo.svg" alt="Lexus" class="img-responsive">
					</div>
				</a>
				<div class="nav">
					<nav>
						<ul>
							<li><a href="#" v-on:click.prevent="scrollTo('main-offer')">Главная</a></li>
							<li><a href="#" v-on:click.prevent="scrollTo('available')">Авто в наличии</a></li>
							<li><a href="#" v-on:click.prevent="scrollTo('special')">Спецпрограмма</a></li>
							<li><a href="#" v-on:click.prevent="scrollTo('contacts')">Контакты</a></li>
						</ul>
					</nav>
				</div>
				<div class="burger" v-on:click="toggleMenu">
					<div class="x"></div>
					<div class="y"></div>
					<div class="z"></div>
				</div>
				
				<img src="img/logo2.png" class="logo2">
				<div class="header-contacts">
					<my-phone></my-phone>
					<span class="popup-link">
						<a href="#" v-on:click.prevent="openPopup">Заказать обратный звонок</a>
					</span>
				</div>
				
			</div>
		</header>
		<main>
			<section id="main-offer">
				<div class="container">
					<div class="content">
						<div class="col-1">
							<h1 v-cloak>Специально для Вас мы заморозили цены на весь модельный ряд LEXUS только до&nbsp;{{lastDayOfMonth}}&nbsp;{{data.months[thisMonth]}}!</h1>
							<!-- <h1>Даёшь новый год!</h1> -->
							<!-- <h2>Праздничный марафон в разгаре!</h2> -->
							<p>Кредит от 0%</p>
							<p v-cloak>Выгода до {{localeNumber(maxBenefit)}} руб.</p>
							<p>При покупке в Trade-In и не только<sup>*</sup></p>
							<div class="btn-block">
								<a href="#" class="btn-black" v-on:click.prevent="openPopup">Получить выгоду</a>
							</div>
						</div>
						<!-- <div class="col-2">
							<div class="btn-block">
								<a href="#" class="btn-black" v-on:click.prevent="openPopup">Получить выгоду</a>
							</div>
						</div> -->
					</div>
				</div>
			</section>
			<section id="benefits">
				<div class="container">
					<div class="benefits">
						<div class="benefit">
							<p v-cloak>Выгода до <span class="bold">{{localeNumber(maxBenefit)}}</span> руб. при покупке в <span class="bold">Trade-in</span> и не только<sup>*</sup>.</p>
						</div>
						<div class="benefit">
							<p>Богатый выбор автомобилей <span class="bold">Lexus</span> в наличии. ПТС в наличии.</p>
						</div>
						<div class="benefit">
							<p><span class="bold">Trade-in.</span> Быстро и дорого<sup>*</sup>. Оценим Ваш автомобиль по достоинству.</p>
						</div>
						<div class="benefit">
							<p><span class="bold">Кредит</span> – выгодные ставки, комфортные ежемесячные платежи<sup>*</sup>.</p>
						</div>
						<div class="benefit">
							<p>Полезные аксессуары и дополнительное оборудование по <span class="bold">спец.ценам</span><sup>*</sup>.</p>
						</div>
						<div class="benefit">
							<p>Программа <span class="bold">«Помощь на дороге»</span> на 3&nbsp;года в <span class="bold">подарок</span><sup>*</sup>.</p>
						</div>
					</div>
				</div>
			</section>
			<section id="available">
				<div class="container">
					<h2>Автомобили в наличии</h2>
					<p>Выберите модель</p>
					<div class="tabs" v-cloak>
						<div v-for="(model, key) in data.models" :class="[model.id === pickedModel ? 'active' : '', 'tab']" v-on:click="changeModel(model.id, key)">
							<div class="content">
								<p class="model">{{model.id}}</p>
								<p class="price">от <span class="value">{{localeNumber(minimum(model.cars, 'price'))}}</span> руб.</p>
								<div class="image">
									<img :src="'img/' + model.id + '.png'" :alt="model.id" class="img-responsive">
								</div>
							</div>
						</div>
					</div>
					<div class="tiles">
						<!-- <transition-group name="fade"  tag="article"> -->
							<div class="tile" v-for="(car, key) in data.models[pickedModelKey].cars">
								<div class="content">
									<div class="top">
										<div class="head">
											<div class="name">
												<p class="model">{{pickedModel + ' ' + car.model}}</p>
												<p class="complectation">{{car.complectation}}</p>
											</div>
											<div class="color">
												<p>Цвет:</p>
												<div class="panel" :title="'Кузов: ' + colorName(car.colorBody) + '\nСалон: ' + colorName(car.colorCabin)">
													<div :class="['c1', car.colorBody]"></div>
													<div :class="['c2', car.colorCabin]"></div>
												</div>
											</div>
										</div>

										<div class="image">
											<img :src="'img/cars/' + pickedModel + '-' + car.colorBody + '.png'" :alt="pickedModel + ' ' + car.model" class="img-responsive">
										</div>
										<div class="circles">
											<div class="circle" v-for="n in tileCircles"></div>
										</div>
									</div>
									<div :class="[key === pickedCarKey ? 'open' : '', 'bottom']">
										<div class="circles">
											<div class="circle" v-for="n in tileCircles"></div>
										</div>
										<div class="body">
											<p class="old-price">{{localeNumber(car.price + car.benefit)}} р.</p>
											<p class="price">{{localeNumber(car.price)}} р.</p>
											<p class="benefit">Выгода:<br><span class="bold">{{localeNumber(car.benefit)}} р.</span><sup>{{data.models[pickedModelKey].disclaimer_sup}}</sup></p>
										</div>
										<div class="btn-block">
											<a href="#" class="btn-blue" v-on:click.prevent="openPopup('', key)">Получить выгоду</a>
										</div>
									</div>
								</div>
							</div>
							<!-- </transition-group> -->
						</div>
						<div class="action">
							<div class="text">
								<h3>Не нашли нужную комплектацию?</h3>
								<p>Позвоните нам по телефону: <my-phone></my-phone> или закажите <a href="#" v-on:click.prevent="openPopup">обратный звонок</a>,<br>и мы подберем автомобиль <span class="bold">Lexus</span> именно Вам.</p>
								<div class="btn-block">
									<a href="#" class="btn-black" v-on:click.prevent="openPopup">Оставить заявку</a>
								</div>
							</div>
							<div class="image">
								<img src="img/action-img.png" alt="Lexus" class="img-responsive">
							</div>
						</div>
					</div>
				</section>
				<section id="special">
					<div class="container">
						<h2>Спецпрограмма</h2>
						<p>НА НОВЫЙ LEXUS ТОЛЬКО ДО КОНЦА {{data.months[thisMonth]}}</p>
						<div class="btn-block">
							<a href="#" class="btn-black" v-on:click.prevent="openPopup">Узнать подробности</a>
						</div>
					</div>
				</section>
				<section id="benefits-secondary">
					<div class="container">
						<div class="benefits">
							<div class="benefit">
								<p><span class="bold">Скидки</span> на Сервисное обслуживание в нашем салоне.</p>
							</div>
							<div class="benefit">
								<p>Богатый выбор автомобилей <span class="bold">Lexus</span> в наличии. ПТС в наличии.</p>
							</div>
							<div class="benefit">
								<p><span class="bold">Гарантия.</span> Продление гарантии до 5 лет.</p>
							</div>
							<div class="benefit">
								<p><span class="bold">Кредит</span> – выгодные ставки, комфортные ежемесячные платежи<sup>*</sup>.</p>
							</div>
							<div class="benefit">
								<p>Полезные аксессуары и дополнительное оборудование по <span class="bold">спец.ценам</span><sup>*</sup>.</p>
							</div>
							<div class="benefit">
								<p>Программа <span class="bold">«Помощь на дороге»</span> на 3&nbsp;года в <span class="bold">подарок</span><sup>*</sup>.</p>
							</div>
						</div>
					</div>
				</section>
				<section id="contacts">
					<div class="container">
						<div class="content">
							<div class="col-1">
								<h2>Остались вопросы?<br>Задайте их нам.</h2>
								<p>Позвоните нам по телефону: <my-phone></my-phone><br>или закажите <a href="#" v-on:click.prevent="openPopup">обратный звонок</a>.</p>
								<div class="form">
									<form method="POST" name="super" action="#" v-on:submit.prevent="sendForm">
										<div class="form-elements">
											<div class="input-phone">
												<input type="tel"  :class="[placeholderPhone === 'Укажите Ваш телефон' ? 'redput' : '', 'input']" name="phone" v-model="inputtedPhone" v-input-mask data-inputmask="'mask': '+7 (999) 999-99-99'" :placeholder="placeholderPhone">
												<div class="circle-loader">
													<div class="checkmark draw"></div>
												</div>
											</div>
											<div class="submit">
												<button type="submit" v-bind:class="[(phoneSended == 'sending') ? 'sending' : '', 'btn-black']">
													<span class="text">Задать вопрос</span>
													<span class="progress"></span>
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-2">
								<img src="img/contacts-img.png" alt="Lexus NX" class="img-responsive">
							</div>
						</div>
						<div class="content plashhka">
							<div class="col-1">
								<h2>НАШИ КОНТАКТЫ</h2>
								<p><my-phone></my-phone><br>Ежедневно с {{data.time_work_from}}:00 до {{data.time_work_to}}:00<br><br>Москва,Остаповский проезд, 4</p>
								<div class="form">
									<form method="POST" name="super" action="#" v-on:submit.prevent="sendForm">
										<div class="form-elements">
											<div class="input-phone">
												<input type="tel"  :class="[placeholderPhone === 'Укажите Ваш телефон' ? 'redput' : '', 'input']" name="phone" v-model="inputtedPhone" v-input-mask data-inputmask="'mask': '+7 (999) 999-99-99'" :placeholder="placeholderPhone">
												<div class="circle-loader">
													<div class="checkmark draw"></div>
												</div>
											</div>
											<div class="submit">
												<button type="submit" v-bind:class="[(phoneSended == 'sending') ? 'sending' : '', 'btn-blue']">
													<span class="text">Оставить заявку</span>
													<span class="progress"></span>
												</button>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>						

						
					</div>
					<div id="map"></div>
					<div class="container">	

						<div class="footer">
							<template v-for="model in data.models"><p>{{model.disclaimer_sup}}. <span v-html="model.disclaimer"></span></p></template>
							<!-- <p><a href="#" v-on:click.prevent="openPopup('agreement')">Соглашение на обработку персональных данных</a></p> -->
						</div>
						<div class="logos">
							<div class="logo">
								<img src="img/logo.svg" alt="Lexus" class="img-responsive">
							</div>
							<div class="text">
								<p>© 2018 Отдел продаж: <my-phone></my-phone></p>
							</div>
							<div class="tandem">
								<img src="img/tandem.png" alt="Tandem" class="img-responsive">
							</div>
						</div>
					</div>
				</section>
			</main>
			<!-- POPUPS START -->
			<div id="popup" :class="popupIsOpen ? 'open' : ''">
				<div class="body">
					<div class="close" title="Закрыть" v-on:click="closePopup"></div>
					<div class="image">
						<p class="bold">Специально для Вас мы заморозили цены на весь модельный ряд LEXUS только до {{lastDayOfMonth}} {{data.months[thisMonth]}}!</p>
						<p>Выгода до {{localeNumber(maxBenefit)}} руб.</p>
						<p>При покупке в Trade-In и не только<sup>*</sup></p>
					</div>
					<div class="content">
						<template v-if="(phoneSended == 'not') || (phoneSended == 'sending')">
							<form method="POST" name="super" action="#" v-on:submit.prevent="sendForm('small')">
								<div class="form-elements">
									<div class="input-phone">
										<input type="tel" :class="[placeholderPhone === 'Укажите Ваш телефон' ? 'redput' : '', 'input']" name="phone" v-model="inputtedPhone" v-input-mask data-inputmask="'mask': '+7 (999) 999-99-99'" :placeholder="placeholderPhone">
										<div class="circle-loader">
											<div class="checkmark draw"></div>
										</div>
									</div>
									<div class="submit">
										<button type="submit" v-bind:class="[(phoneSended == 'sending') ? 'sending' : '', 'btn-blue']">
											<span class="text">Позвонить мне</span>
											<span class="progress"></span>
										</button>
									</div>
								</div>
							</form>
						</template>
						<template v-if="phoneSended == 'sended'">
							<p class="bold">Спасибо за Вашу заявку!</p>
							<p v-if="workingHours">Сейчас совершается бесплатный звонок из отдела продаж.<br>Для получения информации уточните менеджеру интересующий Вас вопрос.</p>
							<p v-else>Отдел продаж уже закончил работу.<br>Вам придёт бесплатный звонок из отдела продаж. Точное время звонка придёт Вам по SMS. Для получения информации, пожалуйста, уточните менеджеру интересующий Вас вопрос.</p>
							<div class="btn-blue success" v-on:click="closePopup">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.54 29.88"><path d="M31.81,0L13,18.55l-7.3-7.2L0,17,13,29.89,37.55,5.69Z" transform="translate(0 -0.01)"/></svg>
							</div>
						</template>
					</div>
				</div>
			</div>
		</div>
		
		<!-- CallTouch START -->
		<!-- PUT YOUR CODE HERE -->
		<!-- CallTouch END -->		


<link rel="stylesheet" href="css/main.css">
<script src="js/common.js"></script>

</body>
</html>