<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Специально для Вас мы заморозили цены на весь модельный ряд LEXUS!</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>
	<script src="js/sets.js"></script>
	<script src="js/libs.min.js"></script>

</head>

<body>
	<!-- Google Analytics START -->
	<!-- PUT YOUR CODE HERE -->
	<!-- Google Analytics END -->

	<!-- Yandex.Metrika counter -->
	<script type="text/javascript">
		if(sets.ya_metrika != 0){
			(function (d, w, c) {
				(w[c] = w[c] || []).push(function() {
					try {
						w.window['yaCounter' + sets.ya_metrika] = new Ya.Metrika({
							id: sets.ya_metrika,
							clickmap:true,
							trackLinks:true,
							accurateTrackBounce:true,
							webvisor:true, 
							triggerEvent:true
						});
					} catch(e) { }
				});
				var n = d.getElementsByTagName("script")[0],
				s = d.createElement("script"),
				f = function () { n.parentNode.insertBefore(s, n); };
				s.type = "text/javascript";
				s.async = true;
				s.src = "https://mc.yandex.ru/metrika/watch.js";

				if (w.opera == "[object Opera]") {
					d.addEventListener("DOMContentLoaded", f, false);
				} else { f(); }
			})(document, window, "yandex_metrika_callbacks");
		}
	</script>
	<template id="ya-metrika"></template>
	<!-- /Yandex.Metrika counter -->

	<div id="app">
		<header>
			<div class="container">
				<div class="logo">
					<img src="img/logo.svg" alt="Lexus" class="img-responsive">
				</div>
				<div class="header-contacts">
					<my-phone></my-phone>
					<span class="popup-link">
						<a href="#" v-on:click.prevent="openPopup">Заказать обратный звонок</a>
					</span>
				</div>
			</div>
		</header>
		<main>
			<section id="all">
				<div class="container">
					<div class="body">
						<h1 v-cloak>Специально для Вас мы заморозили цены на весь модельный ряд LEXUS только до&nbsp;{{lastDayOfMonth}}&nbsp;{{data.months[thisMonth]}}!</h1>
						<!-- <h1>Даёшь новый год!</h1> -->
						<!-- <h2>Праздничный марафон в разгаре!</h2> -->
						<p>Кредит от 0%</p>
						<p v-cloak>Выгода до {{localeNumber(maxBenefit)}} руб.</p>
						<p>При покупке в Trade-In и не только<sup>1</sup></p>
						<div class="form">
							<form method="POST" name="super" action="#" v-on:submit.prevent="sendForm">
								<div class="form-elements">
									<div class="input-phone">
										<input type="tel"  :class="[placeholderPhone === 'Укажите Ваш телефон' ? 'redput' : '', 'input']" name="phone" v-model="inputtedPhone" v-input-mask data-inputmask="'mask': '+7 (999) 999-99-99'" :placeholder="placeholderPhone">
										<div class="circle-loader">
											<div class="checkmark draw"></div>
										</div>
									</div>
									<div class="submit">
										<button type="submit" v-bind:class="[(phoneSended == 'sending') ? 'sending' : '', 'btn-black']">
											<span class="text">Получить выгоду</span>
											<span class="progress"></span>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						<div class="text">
							<!-- <p><a href="#" v-on:click.prevent="openPopup('agreement')">Соглашение на обработку персональных данных</a></p> -->
							<template v-for="model in data.models"><p v-if="model.id === 'lx'">1. <span v-html="model.disclaimer"></span></p></template>
						</div>
						<!-- <div class="tandem">
							<img src="img/tandem.png" alt="Tandem" class="img-responsive">
						</div> -->
					</div>
				</div>
			</section>
			<section v-for="model in data.models" :id="model.id">
				<div class="container">
					<div class="body" :style="{'background-image' : 'url(img/m-' + model.id + '.jpg)'}">
						<h1 v-cloak>Специально для Вас мы заморозили цены на весь модельный ряд LEXUS только до&nbsp;{{lastDayOfMonth}}&nbsp;{{data.months[thisMonth]}}!</h1>
						<!-- <h1>Даёшь новый год!</h1> -->
						<!-- <h2>Праздничный марафон в разгаре!</h2> -->
						<p>Кредит от 0%</p>
						<p v-cloak>Выгода до {{localeNumber(maximum(model.cars, 'benefit'))}} руб.</p>
						<p>При покупке в Trade-In и не только<sup>{{model.disclaimer_sup}}</sup></p>
						<div class="form">
							<form method="POST" name="super" action="#" v-on:submit.prevent="sendForm">
								<div class="form-elements">
									<div class="input-phone">
										<input type="tel"  :class="[placeholderPhone === 'Укажите Ваш телефон' ? 'redput' : '', 'input']" name="phone" v-model="inputtedPhone" v-input-mask data-inputmask="'mask': '+7 (999) 999-99-99'" :placeholder="placeholderPhone">
										<div class="circle-loader">
											<div class="checkmark draw"></div>
										</div>
									</div>
									<div class="submit">
										<button type="submit" v-bind:class="[(phoneSended == 'sending') ? 'sending' : '', 'btn-black']">
											<span class="text">Получить выгоду</span>
											<span class="progress"></span>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="footer">
						<div class="text">
							<!-- <p><a href="#" v-on:click.prevent="openPopup('agreement')">Соглашение на обработку персональных данных</a></p> -->
							<p>{{model.disclaimer_sup}}. <span v-html="model.disclaimer"></span></p>
						</div>
						<!-- <div class="tandem">
							<img src="img/tandem.png" alt="Tandem" class="img-responsive">
						</div> -->
					</div>
				</div>
			</section>
		</main>
		<!-- POPUPS START -->
		<div id="popup" :class="popupIsOpen ? 'open' : ''">
			<div class="body">
				<div class="close" title="Закрыть" v-on:click="closePopup"></div>
				<div class="image">
					<!-- <p class="bold">Праздничный марафон в разгаре!</p>
					<p>Выгода до {{localeNumber(maxBenefit)}} руб.</p>
					<p>При покупке в Trade-In и не только<sup>*</sup></p> -->
				</div>
				<div class="content">
					<template v-if="(phoneSended == 'not') || (phoneSended == 'sending')">
						<form method="POST" name="super" action="#" v-on:submit.prevent="sendForm">
							<div class="form-elements">
								<div class="input-phone">
									<input type="tel" :class="[placeholderPhone === 'Укажите Ваш телефон' ? 'redput' : '', 'input']" name="phone" v-model="inputtedPhone" v-input-mask data-inputmask="'mask': '+7 (999) 999-99-99'" :placeholder="placeholderPhone">
									<div class="circle-loader">
										<div class="checkmark draw"></div>
									</div>
								</div>
								<div class="submit">
									<button type="submit" v-bind:class="[(phoneSended == 'sending') ? 'sending' : '', 'btn-blue']">
										<span class="text">Позвонить мне</span>
										<span class="progress"></span>
									</button>
								</div>
							</div>
						</form>
					</template>
					<template v-if="phoneSended == 'sended'">
						<p class="bold">Спасибо за Вашу заявку!</p>
						<p v-if="workingHours">Сейчас совершается бесплатный звонок из отдела продаж.<br>Для получения информации уточните менеджеру интересующий Вас вопрос.</p>
						<p v-else>Отдел продаж уже закончил работу.<br>Вам придёт бесплатный звонок из отдела продаж. Точное время звонка придёт Вам по SMS. Для получения информации, пожалуйста, уточните менеджеру интересующий Вас вопрос.</p>
						<div class="btn-blue success" v-on:click="closePopup">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.54 29.88"><path d="M31.81,0L13,18.55l-7.3-7.2L0,17,13,29.89,37.55,5.69Z" transform="translate(0 -0.01)"/></svg>
						</div>
					</template>
				</div>
			</div>
		</div>
	</div>



	<!-- CallTouch START -->
	<!-- PUT YOUR CODE HERE -->
	<!-- CallTouch END -->		



	<!-- CallBackHunter START -->
	<!-- PUT YOUR CODE HERE -->
	<!-- CallBackHunter END -->

<link rel="stylesheet" href="css/m.css">
<script src="js/common-m.js"></script>

</body>
</html>