<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8">
		<title>Siart Test</title>
		<meta name="description" content="">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
		<link rel="manifest" href="img/favicon/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#000">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#000">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#000">
		<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>
		<script src="js/libs.min.js"></script>
	</head>
	<body>
		<main>
			<section id="banner-slider">
				<div class="slider-aside slider-aside--left">
					<div class="slider-aside__item">
						<div class="slider-aside__image">
							<img src="./img/main-slider__image-small-2.png" alt="Новый химический анкер MASTERFLOW 920 ANW" class="img-responsive">
						</div>
						<div class="slider-aside__text">Новый химический анкер MASTERFLOW 920 ANW</div>
						<div class="slider-aside__number">3</div>
					</div>
					<div class="slider-aside__item">
						<div class="slider-aside__image">
							<img src="./img/main-slider__image-small-1.png" alt="Официальный представитель FEstool и ЗУБР" class="img-responsive">
						</div>
						<div class="slider-aside__text">Официальный представитель FEstool и ЗУБР</div>
						<div class="slider-aside__number">1</div>
					</div>
					<div class="slider-aside__item">
						<div class="slider-aside__image">
							<img src="./img/main-slider__image-small-2.png" alt="Высокоэластичный герметик MasterSeal 440" class="img-responsive">
						</div>
						<div class="slider-aside__text">Высокоэластичный герметик MasterSeal 440</div>
						<div class="slider-aside__number">2</div>
					</div>
				</div>
				<div class="main-slider">
					<div class="main-slider__item">
						<div class="main-slider__text">
							<h2 class="main-slider__title">Официальный представитель <span class="orange">FEstool и ЗУБР</span></h2>
							<p class="main-slider__subtitle">Для применения при отрицательной температуре до -10С</p>
						</div>
						<div class="main-slider__image">
							<img src="./img/main-slider__image.png" alt="Официальный представитель FEstool и ЗУБР" class="img-responsive">
						</div>
						<div class="main-slider__number">1</div>
					</div>
					<div class="main-slider__item">
						<div class="main-slider__text">
							<h2 class="main-slider__title">Высокоэластичный герметик <span class="orange">MasterSeal 440</span></h2>
							<p class="main-slider__subtitle">Для применения при отрицательной температуре до -10С</p>
						</div>
						<div class="main-slider__image">
							<img src="./img/main-slider__image.png" alt="Высокоэластичный герметик MasterSeal 440" class="img-responsive">
						</div>
						<div class="main-slider__number">2</div>
					</div>
					<div class="main-slider__item">
						<div class="main-slider__text">
							<h2 class="main-slider__title">Новый химический анкер <span class="orange">MASTERFLOW 920 ANW</span></h2>
							<p class="main-slider__subtitle">Для применения при отрицательной температуре до -10С</p>
						</div>
						<div class="main-slider__image">
							<img src="./img/main-slider__image.png" alt="Новый химический анкер MASTERFLOW 920 ANW" class="img-responsive">
						</div>
						<div class="main-slider__number">3</div>
					</div>
				</div>
				<div class="slider-aside slider-aside--right">
					<div class="slider-aside__item">
						<div class="slider-aside__image">
							<img src="./img/main-slider__image-small-2.png" alt="Высокоэластичный герметик MasterSeal 440" class="img-responsive">
						</div>
						<div class="slider-aside__text">Высокоэластичный герметик MasterSeal 440</div>
						<div class="slider-aside__number">2</div>
					</div>
					<div class="slider-aside__item">
						<div class="slider-aside__image">
							<img src="./img/main-slider__image-small-2.png" alt="Новый химический анкер MASTERFLOW 920 ANW" class="img-responsive">
						</div>
						<div class="slider-aside__text">Новый химический анкер MASTERFLOW 920 ANW</div>
						<div class="slider-aside__number">3</div>
					</div>
					<div class="slider-aside__item">
						<div class="slider-aside__image">
							<img src="./img/main-slider__image-small-1.png" alt="Официальный представитель FEstool и ЗУБР" class="img-responsive">
						</div>
						<div class="slider-aside__text">Официальный представитель FEstool и ЗУБР</div>
						<div class="slider-aside__number">1</div>
					</div>
				</div>
			</section>
			<section id="catalog" class="catalog">
				<a href="#" class="catalog__item">
					<div class="catalog__image" style="background-image: url('./img/catalog-1.jpg')"></div>
					<div class="catalog__text">
						<h2 class="catalog__title">Восстановление и защита бетонных сооружений</h2>
						<p class="catalog__subtitle">Современные материалы и технологии, представленные в данном разделе, позволят значительно повысить срок службы железобетонных сооружений, а также снизить эксплуатационные расходы.</p>
						<div class="catalog__link orange">Перейти в каталог</div>
					</div>
				</a>
				<a href="#" class="catalog__item">
					<div class="catalog__image" style="background-image: url('./img/catalog-2.jpg')"></div>
					<div class="catalog__text">
						<h2 class="catalog__title">Промышленные полы</h2>
						<p class="catalog__subtitle">Условия эксплуатации полов в промышленных помещениях налагают особые требования к их стойкости и другим качествам. Предпочтительные свойства зависят от типа помещения: для складов пол, устойчивый...</p>
						<div class="catalog__link orange">Перейти в каталог</div>
					</div>
				</a>
				<a href="#" class="catalog__item">
					<div class="catalog__image" style="background-image: url('./img/catalog-3.jpg')"></div>
					<div class="catalog__text">
						<h2 class="catalog__title">Восстановление и защита бетонных сооружений</h2>
						<p class="catalog__subtitle">Современные материалы и технологии, представленные в данном разделе, позволят значительно повысить срок службы железобетонных сооружений, а также снизить эксплуатационные расходы.</p>
						<div class="catalog__link orange">Перейти в каталог</div>
					</div>
				</a>
				<a href="#" class="catalog__item">
					<div class="catalog__image" style="background-image: url('./img/catalog-1.jpg')"></div>
					<div class="catalog__text">
						<h2 class="catalog__title">Восстановление и защита бетонных сооружений</h2>
						<p class="catalog__subtitle">Современные материалы и технологии, представленные в данном разделе, позволят значительно повысить срок службы железобетонных сооружений, а также снизить эксплуатационные расходы.</p>
						<div class="catalog__link orange">Перейти в каталог</div>
					</div>
				</a>
			</section>
			<section id="services" class="services">
				<div class="services__container">
					<a href="#" class="services__item">
						<div class="services__icon">
							<img src="./img/services-1.svg" alt="Консультация" class="img-responsive">
						</div>
						<h2 class="services__title">Консультация</h2>
						<p class="services__text">Вы можете проконсультироваться со специалистом Компании по поводу стоящихперед вами задач.</p>
						<p class="services__link orange">Подробнее</p>
					</a>
					<a href="#" class="services__item">
						<div class="services__icon">
							<img src="./img/services-2.svg" alt="Помощь в проектировании" class="img-responsive">
						</div>
						<h2 class="services__title">Помощь в проектировании</h2>
						<p class="services__text">По вашей заявке мы напишем регламент на проведение работ.</p>
						<p class="services__link orange">Подробнее</p>
					</a>
					<a href="#" class="services__item">
						<div class="services__icon">
							<img src="./img/services-3.svg" alt="Расчет состава бетона" class="img-responsive">
						</div>
						<h2 class="services__title">Расчет состава бетона</h2>
						<p class="services__text">Технологи компании помогут спроектировать состав бетона на сырьевых материалах</p>
						<p class="services__link orange">Подробнее</p>
					</a>
					<a href="#" class="services__item">
						<div class="services__icon">
							<img src="./img/services-4.svg" alt="Техническая поддержка на объекте" class="img-responsive">
						</div>
						<h2 class="services__title">Техническая поддержка на объекте</h2>
						<p class="services__text">Качество проведенных работ неразрывно связано как с качеством материалов, так и с качеством выполненных работ</p>
						<p class="services__link orange">Подробнее</p>
					</a>
					<a href="#" class="services__item">
						<div class="services__icon">
							<img src="./img/services-5.svg" alt="Обследование конструкций и сооружений" class="img-responsive">
						</div>
						<h2 class="services__title">Обследование конструкций и сооружений</h2>
						<p class="services__text">Специалисты Компании выедут на объект для оценки состояния сооружений и выбора вариантов решения проблем.</p>
						<p class="services__link orange">Подробнее</p>
					</a>
					<a href="#" class="services__item">
						<div class="services__icon">
							<img src="./img/services-6.svg" alt="Разработка технической документации" class="img-responsive">
						</div>
						<h2 class="services__title">Разработка технической документации</h2>
						<p class="services__text">Для специалистов проектных институтов или сотрудников ПТО мы предлагаем услугу по разработке чертежей, узлов.</p>
						<p class="services__link orange">Подробнее</p>
					</a>
				</div>
			</section>
			<section id="tab-panel" class="tab-panel" v-cloak>
				<div class="tabs">
					<div class="tabs__container">
						<button :class="['tabs__item', currentTab === 0 ? 'tabs__item--active': '']" @click="changeTab(0)">Помощь в подборе</button>
						<button :class="['tabs__item', currentTab === 1 ? 'tabs__item--active': '']" @click="changeTab(1)">Описание</button>
						<button :class="['tabs__item', currentTab === 2 ? 'tabs__item--active': '']" @click="changeTab(2)">Доставка и оплата</button>
						<button :class="['tabs__item', currentTab === 3 ? 'tabs__item--active': '']" @click="changeTab(3)">Обмен/возврат</button>
						<button :class="['tabs__item', currentTab === 4 ? 'tabs__item--active': '']" @click="changeTab(4)">Отзывы</button>
					</div>
				</div>
				<div class="tab-panel__container">
					<button :class="['tabs__item tabs__item--mobile', currentTab === 0 ? 'tabs__item--active': '']" @click="changeTab(0)">Помощь в подборе</button>
					<div class="tab-panel__item" v-if="currentTab === 0">
						<h2 class="tab-panel__title">Подберем анкер по фотографиям!</h2>
						<p class="tab-panel__text">Отправьте сообщение с фотографией интерьера по email:<br><a href="mailto:info@bla-bla.ru">info@bla-bla.ru</a></p>
						<form action="#" class="tab-form">
							<h3 class="tab-form__title">Загрузить фотографии на сайт прямо сейчас:</h3>
							<div class="tab-form__row">
								<div class="tab-form__input-block">
									<label for="tab-form__name"
										   :class="['tab-form__label', form.name.invalid ? 'tab-form__label--invalid' : '']">Ваше имя<span class="tab-form__label--required">*</span></label>
									<input type="text"
										   id="tab-form__name"
										   class="tab-form__input"
										   v-model="form.name.value"
										   required>
								</div>
								<div class="tab-form__input-block">
									<label for="tab-form__phone"
										   :class="['tab-form__label', form.phone.invalid ? 'tab-form__label--invalid' : '']">Телефон<span class="tab-form__label--required">*</span></label>
									<input type="tel"
										   id="tab-form__phone"
										   class="tab-form__input"
										   v-model="form.phone.value"
										   v-input-mask
										   data-inputmask="'mask': '+7 (999) 999-99-99', 'placeholder': '+7 (___) ___-__-__'"
										   required>
								</div>
								<div class="tab-form__input-block">
									<label for="tab-form__email"
										   :class="['tab-form__label', form.email.invalid ? 'tab-form__label--invalid' : '']">E-mail</label>
									<input type="email"
										   id="tab-form__email"
										   class="tab-form__input"
										   v-model="form.email.value">
								</div>
							</div>
							<div class="tab-form__photos">
								<h4 class="tab-form__subtitle">Загрузить фотографии</h4>
								<div class="tab-form__added">
									<div class="tab-form__file" v-for="(file, key) in form.files.value">
										<button class="tab-form__file-delete" @click="deleteFile(key)"></button>
										<div class="tab-form__file-name">{{file.name}}</div>
									</div>
								</div>
								<div class="tab-form__input-file">
									<input type="file"
										   id="tab-form__files"
										   ref="files"
										   multiple
										   @change="addFiles()">
									<button class="btn btn-transparent" @click.prevent="chooseFiles()">Выбрать фотографии</button>
									<div class="tab-form__input-file-description">
										Вы можете загрузить 5 изображений в формате JPG, JPEG, PNG.<br>
										Размер каждой фотографии не должен превышать 2 Мбайт.
										<span class="tab-form__input-file-description--invalid" v-if="form.files.invalid"><br>Некоторые файлы не были загружены!</span></div>
								</div>
							</div>
							<div class="tab-form__submit">
								<button type="submit" class="btn" @click.prevent="sendForm()">Отправить</button>
							</div>
						</form>
					</div>
					<button :class="['tabs__item tabs__item--mobile', currentTab === 1 ? 'tabs__item--active': '']" @click="changeTab(1)">Описание</button>
					<div class="tab-panel__item" v-if="currentTab === 1">Описание</div>
					<button :class="['tabs__item tabs__item--mobile', currentTab === 2 ? 'tabs__item--active': '']" @click="changeTab(2)">Доставка и оплата</button>
					<div class="tab-panel__item" v-if="currentTab === 2">Доставка и оплата</div>
					<button :class="['tabs__item tabs__item--mobile', currentTab === 3 ? 'tabs__item--active': '']" @click="changeTab(3)">Обмен/возврат</button>
					<div class="tab-panel__item" v-if="currentTab === 3">Обмен/возврат</div>
					<button :class="['tabs__item tabs__item--mobile', currentTab === 4 ? 'tabs__item--active': '']" @click="changeTab(4)">Отзывы</button>
					<div class="tab-panel__item" v-if="currentTab === 4">Отзывы</div>
				</div>
			</section>
			<section id="news" class="news">
				<div class="news__container">
					<h2 class="news__title">Полезно знать</h2>
					<div class="news__slider">
						<a href="#" class="news__item">
							<div class="news__image" style="background-image: url(./img/news-1.jpg)"></div>
							<h3 class="news__name">Основы получения бетона с требуемыми свойствами</h3>
						</a>
						<a href="#" class="news__item">
							<div class="news__image" style="background-image: url(./img/news-2.jpg)"></div>
							<h3 class="news__name">Как правильно сделать отмостку из бетона</h3>
						</a>
						<a href="#" class="news__item">
							<div class="news__image" style="background-image: url(./img/news-3.jpg)"></div>
							<h3 class="news__name">Состав и применение тощего бетона</h3>
						</a>
						<a href="#" class="news__item">
							<div class="news__image" style="background-image: url(./img/news-1.jpg)"></div>
							<h3 class="news__name">Состав и применение тощего бетона</h3>
						</a>
					</div>
				</div>
			</section>
			<section id="brands" class="brands">
				<div class="brands__container">
					<h2 class="brands__title">Торговые марки</h2>
				</div>
				<div class="brands__slider">
					<a href="#" class="brands__item">MasterFlow</a>
					<a href="#" class="brands__item">MasterSeal</a>
					<a href="#" class="brands__item">MasterInject</a>
					<a href="#" class="brands__item">MasterBrace</a>
					<a href="#" class="brands__item">MasterTile</a>
					<a href="#" class="brands__item">MasterEmaco</a>
					<a href="#" class="brands__item">MasterTop</a>
					<a href="#" class="brands__item">MasterFlow</a>
					<a href="#" class="brands__item">MasterSeal</a>
					<a href="#" class="brands__item">MasterInject</a>
				</div>
				<div class="brands__container">
					<a href="#" class="brands__link">Перейти в каталог</a>
				</div>
			</section>
		</main>
		<link rel="stylesheet" href="css/main.css">
		<script src="js/common.js"></script>
	</body>
</html>