<!DOCTYPE html>
<html lang="ru">

<head>

	<meta charset="utf-8">

	<title>Квартал "Краски жизни" - Цены, с которыми можно договориться</title>
	<meta name="description" content="">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<link rel="apple-touch-icon" sizes="57x57" href="img/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="img/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="img/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="img/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="img/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="img/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png">
	<link rel="manifest" href="img/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="img/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">

	<!-- Chrome, Firefox OS and Opera -->
	<meta name="theme-color" content="#000">
	<!-- Windows Phone -->
	<meta name="msapplication-navbutton-color" content="#000">
	<!-- iOS Safari -->
	<meta name="apple-mobile-web-app-status-bar-style" content="#000">

	<style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>

</head>

<body>
	<header id="header">
		<div class="container">
			<div class="logo">
				<a href="#main-offer">
					<img src="img/logo.jpg" alt="Сити XXI век" class="img-responsive">
				</a>
			</div>
			<div class="nav">
				<nav>
					<ul class="clearfix">
						<li><a href="#main-offer">Акция</a></li>
						<li><a href="#about">О проекте</a></li>
						<li><a href="#placement">Расположение</a></li>
						<li><a href="#gallery">Галерея</a></li>
						<li><a href="#plans">Планировки</a></li>
						<li><a href="#mortgage">Ипотека/кредит</a></li>
						<li><a href="#contacts">Контакты</a></li>
					</ul>
				</nav>
				<div class="burger">
					<div class="x"></div>
					<div class="y"></div>
					<div class="z"></div>
				</div>
			</div>
			<div class="header-contacts">
				<my-phone></my-phone>
				<a href="#popup" class="popup-link">Заказать звонок</a>
			</div>
		</div>
	</header>
	<main>
		<section id="main-offer">
			<div class="container">
				<div class="logo">
					<img src="img/logo-colors-of-life.svg" alt="Краски жизни" class="img-responsive">
				</div>
				<div class="prices clearfix">
					<div class="price">
						<div class="clearfix">
							<div class="number">1</div>
							<div class="text">комнатные<br>квартиры</div>
						</div>
						<div class="value-text">от <span class="value">{{room1}}</span> &#8381;</div>
					</div>
					<div class="price">
						<div class="clearfix">
							<div class="number">2</div>
							<div class="text">комнатные<br>квартиры</div>
						</div>
						<div class="value-text">от <span class="value">{{room2}}</span> &#8381;</div>
					</div>
					<div class="price">
						<div class="clearfix">
							<div class="number">3</div>
							<div class="text">комнатные<br>квартиры</div>
						</div>
						<div class="value-text">от <span class="value">{{room3}}</span> &#8381;</div>
					</div>
				</div>
				<div class="heading">
					<h1>Нам 20 лет – Вам подарки!</h1>
					<h2>Квартиры до –20% от стоимости только до 31 октября!</h2>
					<h3>Часть квартиры Вы приобретаете за наш счёт!</h3>
					<p>Срок действия акции с {{firstDay}} по {{lastDay}}</p>
					<a href="#popup" class="btn btn-red">Выбрать квартиру</a>
				</div>
			</div>
		</section>
		<section id="about">
			<div class="container">
				<div class="left-column">
					<h2>О проекте</h2>
					<p>Уникальный баланс загородной и городской жизни всего в 4 км от столицы.</p>
					<p>«Краски жизни» - особая серия домов благодаря органичному симбиозу потребительских предпочтений и лучшего опыта по созданию комфортного жилья. 9 жилых домов, объединенных оригинальной архитектурной концепцией.</p>
					<p>Среди решений - высокое качество материалов, социальные и технологические инновации, эргономичные планировки – более 80 видов, максимум полезных общественных пространств, возможность дизайн-отделки квартир, благоустроенные «дворы без машин», более 20 детских и спортивных площадок, 3 км вело- и беговых дорожек, площадки для отдыха и живописные места для прогулок. Квартал возводится по принципу миниполиса.</p>
				</div>
				<div class="right-column">
					<img src="img/about.jpg" alt="О проекте" class="img-responsive">
				</div>
			</div>
		</section>
		<section id="benefits">
			<div class="container">
				<div class="benefits-gallery">
					<div class="benefit benefit-red">
						<div class="heading">
							<p>Жильё на разной стадии строительства</p>
						</div>
						<p>Корпуса 4.1,4.2,5.1,5.2 – дома сданы. Идет заселение!</p>
						<p>Корпуса 6.1 и 6.2 – активное строительство</p>
					</div>
					<div class="benefit benefit-yellow">
						<div class="heading">
							<p>Широкий спектр транспортных возможностей!</p>
						</div>
						<p>10 минут до МКАД</p>
						<p>До Павелецкого вокзала — 30 мин.</p>
						<p>20 минут до станций метро — «Царицыно», «Зябликово», «Домодедовская», «Кантемировская»</p>
					</div>
					<div class="benefit benefit-green">
						<div class="heading">
							<p>Квартиры по Вашим предпочтениям!</p>
						</div>
						<p>Более 80 видов планировок, квартиры с отделкой, гардеробные и 2 санузла. Кладовые помещения в цокольной части, колясочные</p>
					</div>
					<div class="benefit benefit-blue">
						<div class="heading">
							<p>Инфраструктура во всех красках жизни!</p>
						</div>
						<p>Безопасная территория, детский сад, школа, торгово-развлекательный центр «Ларец», фитнес, детский центр, медицинские клиники, паркинг</p>
					</div>
					<div class="benefit benefit-red">
						<div class="heading">
							<p>Профессиональное управление домом</p>
						</div>
						<p>Собственная управляющая компания, поддерживающая высокое качество обслуживания комплекса</p>
					</div>
					<div class="benefit benefit-yellow">
						<div class="heading">
							<p>У Вас будут дружные соседи</p>
						</div>
						<p>Соседский клуб от застройщика для детей и взрослых: центр творчества и воспитания, юношеский клуб «Патриот», мастер-классы и праздники</p>
					</div>
					<div class="benefit benefit-green">
						<div class="heading">
							<p>Профессиональное признание</p>
						</div>
						<p>«Краски жизни» - шестикратный победитель и финалист престижных профессиональных конкурсов и премий</p>
					</div>
				</div>
			</div>
		</section>
		<section id="placement">
			<div id="map"></div>
			<div class="legend">
				<div class="container">
					<div class="legend-content">
						<h2>Расположение и инфраструктура</h2>
						<div class="tiles clearfix">
							<div class="tile">
								<img src="img/placement-icon-family.png" alt="Инфраструктура для семьи">
								<p class="title">Инфраструктура для семьи</p>
								<p>Балетная и театральная студии, дворец спорта, стадион, бассейн, школа искусств</p>
							</div>
							<div class="tile">
								<img src="img/placement-icon-forest.png" alt="Три парка поблизости">
								<p class="title">Три парка поблизости</p>
								<p>Центральный, Тихомировский, Расторгуевский</p>
							</div>
							<div class="tile">
								<img src="img/placement-icon-water.png" alt="Реки и пруды">
								<p class="title">Реки и пруды</p>
								<p>Булатниковский, Верхний Качаловский, Тимоховский пруды, река Битца</p>
							</div>
							<div class="tile">
								<img src="img/placement-icon-church.png" alt="Духовно-культурное наследие">
								<p class="title">Духовно-культурное наследие</p>
								<p>Монастырь Екатерининская пустынь, Храм Святителя Николая, Георгиевский храм</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="consultation">
			<div class="container">
				<div class="content-block">
					<h2>Консультация</h2>
					<p>Интересуетесь приобретением недвижимости? Наши менеджеры с удовольствием ответят на все Ваши вопросы!</p>
					<a href="#popup" class="btn btn-red">Получить консультацию</a>
				</div>
			</div>
		</section>
		<section id="gallery">
			<div class="container">
				<h2>Фотогалерея</h2>
			</div>
			<div class="photogallery">
				<div class="slide slide-1"></div>
				<div class="slide slide-2"></div>
				<div class="slide slide-3"></div>
				<div class="slide slide-4"></div>
				<div class="slide slide-5"></div>
				<div class="slide slide-6"></div>
				<div class="slide slide-7"></div>
				<div class="slide slide-8"></div>
				<div class="slide slide-9"></div>
			</div>
			<div class="thumbs clearfix">
				<div class="thumb active"><img src="img/thumb-gallery-1.jpg" alt="Фото предпросмотра" class="img-responsive"></div>
				<div class="thumb"><img src="img/thumb-gallery-2.jpg" alt="Фото предпросмотра" class="img-responsive"></div>
				<div class="thumb"><img src="img/thumb-gallery-3.jpg" alt="Фото предпросмотра" class="img-responsive"></div>
				<div class="thumb"><img src="img/thumb-gallery-4.jpg" alt="Фото предпросмотра" class="img-responsive"></div>
				<div class="thumb"><img src="img/thumb-gallery-5.jpg" alt="Фото предпросмотра" class="img-responsive"></div>
				<div class="thumb"><img src="img/thumb-gallery-6.jpg" alt="Фото предпросмотра" class="img-responsive"></div>
				<div class="thumb"><img src="img/thumb-gallery-7.jpg" alt="Фото предпросмотра" class="img-responsive"></div>
				<div class="thumb"><img src="img/thumb-gallery-8.jpg" alt="Фото предпросмотра" class="img-responsive"></div>
				<div class="thumb"><img src="img/thumb-gallery-9.jpg" alt="Фото предпросмотра" class="img-responsive"></div>
			</div>
		</section>
		<section id="loyalty">
			<div class="container">
				<h2>Программы лояльности</h2>
				<div class="loyalty-gallery">
					<div class="slide">
						<div class="icon"><img src="img/loyalty-icon-family.png" alt="Большая семья" class="img-responsive"></div>
						<div class="text">
							<p class="title">Большая семья</p>
							<p>При покупке квартиры мы дарим скидки в размере 1,5% за каждого ребенка для семей с тремя и более детьми в возрасте до 18 лет.</p>
						</div>
					</div>
					<div class="slide">
						<div class="icon"><img src="img/loyalty-icon-double-benefit.png" alt="Большая семья" class="img-responsive"></div>
						<div class="text">
							<p class="title">Двойная выгода</p>
							<p>Скидка 2% на квартиру и 10% на машино-место/кладовое помещение при одновременном заключении договора на покупку квартиры и машино-места / кладового помещения!</p>
						</div>
					</div>
					<div class="slide">
						<div class="icon"><img src="img/loyalty-icon-books.png" alt="Большая семья" class="img-responsive"></div>
						<div class="text">
							<p class="title">Зачётные проценты</p>
							<p>Для студентов всех учебных заведений, включая бизнес- образование на степень MBA - скидка 2% либо беспроцентная рассрочка до 9 месяцев на период строительства.</p>
						</div>
					</div>
					<div class="slide">
						<div class="icon"><img src="img/loyalty-icon-people.png" alt="Большая семья" class="img-responsive"></div>
						<div class="text">
							<p class="title">Свои люди</p>
							<p>Скидка 3% на каждую последующую покупку квартиры при заключении договора на имя Покупателя или ближайших родственников (родители, дети, братья и сестры, мужья, жены).</p>
						</div>
					</div>
					<div class="slide">
						<div class="icon"><img src="img/loyalty-icon-bag.png" alt="Большая семья" class="img-responsive"></div>
						<div class="text">
							<p class="title">Оптом дешевле</p>
							<p>Скидка 6% на вторую и каждую последующую квартиру при единовременной покупке двух и более квартир. Скидка предоставляется на квартиры с наименьшей стоимостью.</p>
						</div>
					</div>
				</div>
				<div class="btn-block">
					<a href="#popup" class="btn btn-red">Узнать подробности</a>
				</div>
			</div>
		</section>
		<section id="plans">
			<div class="container">
				<div v-if="corpShown == 0" class="genplan">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1277.84 714.91">
						<image width="1278" height="715" xlink:href="img/plans-picker.jpg" />
						<polygon data-corp="4.1" v-on:click="pickPlan" v-bind:class="[corpPicked == 4.1 ? 'active' : '']" points="308 191 274 182 157 253 177 373 278 397 295 386 285 313 320 291 308 191"/>
						<polygon data-corp="4.2" v-on:click="pickPlan" v-bind:class="[corpPicked == 4.2 ? 'active' : '']" points="373 278 367 217 381 206 483 235 490 334 485.14 337.94 483.35 344.2 416 397 416 401 387 426 349 414 337 304 373 278"/>
						<polygon data-corp="5.1" v-on:click="pickPlan" v-bind:class="[corpPicked == 5.1 ? 'active' : '']" points="535 243 518 259 503 325 485 338 483 344 493 460 530 473 551 454 564 380 580 368 575 254 535 243"/>
						<polygon data-corp="5.2" v-on:click="pickPlan" v-bind:class="[corpPicked == 5.2 ? 'active' : '']" points="618 495 617 379 714 288 754 301 750 410 661 508 618 495"/>
						<polygon data-corp="6.1" v-on:click="pickPlan" v-bind:class="[corpPicked == 6.1 ? 'active' : '']" points="877 333 756 416 752 534 791 551 885 479 936 502 946 494 949 480 958 474 971 371 942 359 942 356 932 353 928 354 877 333"/>
						<polygon data-corp="6.2" v-on:click="pickPlan" v-bind:class="[corpPicked == 6.2 ? 'active' : '']" points="1079 411 1052 426 1049 425 1044 427 1043 431 1005 450 1002 449 997 452 995 455 949 480 936 605 982 617 1073 571 1123 604 1128 598 1133 602 1145 595 1150 598 1164 591 1188 473 1143 449 1143 445 1137 441 1131 443 1079 411"/>
						
						<path data-corp="6.2" class="tip-bg" d="M993,203.89h244.87V394.34H993V203.89Zm149.37,177.94-26.94,26.94-26.94-26.94h53.87Z"/>
						<text data-corp="6.2" class="title" transform="translate(1073.66 237)">Корпус 6.2</text>
						<text data-corp="6.2" transform="translate(1028 266)">Однокомнатные квартиры
							<tspan x="0" y="16">от <tspan class="value">{{corp6_2.room1}}</tspan> р.</tspan>
						</text>
						<text data-corp="6.2" transform="translate(1028 305)">Двухкомнатные квартиры
							<tspan x="0" y="16">от <tspan class="value">{{corp6_2.room2}}</tspan> р.</tspan>
						</text>
						<text data-corp="6.2" transform="translate(1028 344)">Трёхкомнатные квартиры
							<tspan x="0" y="15">от <tspan class="value">{{corp6_2.room3}}</tspan> р.</tspan>
						</text>

						<path data-corp="6.1" class="tip-bg" d="M786,132.89h244.87V323.34H786V132.89ZM935.37,310.82l-26.94,26.94L881.5,310.82h53.87Z"/>
						<text data-corp="6.1" class="title" transform="translate(866.66 166)">Корпус 6.1</text>
						<text data-corp="6.1" transform="translate(821 195)">Однокомнатные квартиры
							<tspan x="0" y="16">от <tspan class="value">{{corp6_1.room1}}</tspan> р.</tspan>
						</text>
						<text data-corp="6.1" transform="translate(821 234)">Двухкомнатные квартиры
							<tspan x="0" y="16">от <tspan class="value">{{corp6_1.room2}}</tspan> р.</tspan>
						</text>
						<text data-corp="6.1" transform="translate(821 273)">Трёхкомнатные квартиры
							<tspan x="0" y="15">от <tspan class="value">{{corp6_1.room3}}</tspan> р.</tspan>
						</text>
						
						<path data-corp="5.2" class="tip-bg" d="M587,108.89H831.87V299.34H587V108.89Zm86.37,177.94-26.94,26.94L619.5,286.82h53.87Z"/>
						<text data-corp="5.2" class="title" transform="translate(667.66 142)">Корпус 5.2</text>
						<text data-corp="5.2" transform="translate(622 171)">Однокомнатные квартиры
							<tspan x="0" y="16">от <tspan class="value">{{corp5_2.room1}}</tspan> р.</tspan>
						</text>
						<text data-corp="5.2" transform="translate(622 210)">Двухкомнатные квартиры
							<tspan x="0" y="16">от <tspan class="value">{{corp5_2.room2}}</tspan> р.</tspan>
						</text>
						<text data-corp="5.2" transform="translate(622 249)">Трёхкомнатные квартиры
							<tspan x="0" y="15">от <tspan class="value">{{corp5_2.room3}}</tspan> р.</tspan>
						</text>
						
						<path data-corp="5.1" class="tip-bg" d="M383,496.89H627.87V687.34H383V496.89Zm95.5,12.87,26.94-26.94,26.94,26.94H478.5Z"/>
						<text data-corp="5.1" class="title" transform="translate(463.66 530)">Корпус 5.1</text>
						<text data-corp="5.1" transform="translate(418 559)">Однокомнатные квартиры
							<tspan x="0" y="16">от <tspan class="value">{{corp5_1.room1}}</tspan> р.</tspan>
						</text>
						<text data-corp="5.1" transform="translate(418 598)">Двухкомнатные квартиры
							<tspan x="0" y="16">от <tspan class="value">{{corp5_1.room2}}</tspan> р.</tspan>
						</text>
						<text data-corp="5.1" transform="translate(418 637)">Трёхкомнатные квартиры
							<tspan x="0" y="15">от <tspan class="value">{{corp5_1.room3}}</tspan> р.</tspan>
						</text>
						
						<path data-corp="4.2" class="tip-bg" d="M247,445.89H491.87V636.34H247V445.89Zm95.5,12.87,26.94-26.94,26.94,26.94H342.5Z"/>
						<text data-corp="4.2" class="title" transform="translate(327.66 479)">Корпус 4.2</text>
						<text data-corp="4.2" transform="translate(282 508)">Однокомнатные квартиры
							<tspan x="0" y="16">от <tspan class="value">{{corp4_2.room1}}</tspan> р.</tspan>
						</text>
						<text data-corp="4.2" transform="translate(282 547)">Двухкомнатные квартиры
							<tspan x="0" y="16">от <tspan class="value">{{corp4_2.room2}}</tspan> р.</tspan>
						</text>
						<text data-corp="4.2" transform="translate(282 586)">Трёхкомнатные квартиры
							<tspan x="0" y="15">от <tspan class="value">{{corp4_2.room3}}</tspan> р.</tspan>
						</text>
						
						<path data-corp="4.1" class="tip-bg" d="M15,414.89H259.87V605.34H15V414.89Zm185.5,12.87,26.94-26.94,26.94,26.94H200.5Z"/>
						<text data-corp="4.1" class="title" transform="translate(95.66 448)">Корпус 4.1</text>
						<text data-corp="4.1" transform="translate(50 477)">Однокомнатные квартиры
							<tspan x="0" y="16">от <tspan class="value">{{corp4_1.room1}}</tspan> р.</tspan>
						</text>
						<text data-corp="4.1" transform="translate(50 516)">Двухкомнатные квартиры
							<tspan x="0" y="16">от <tspan class="value">{{corp4_1.room2}}</tspan> р.</tspan>
						</text>
						<text data-corp="4.1" transform="translate(50 555)">Трёхкомнатные квартиры
							<tspan x="0" y="15">от <tspan class="value">{{corp4_1.room3}}</tspan> р.</tspan>
						</text>
					</svg>
				</div>
				<div class="picker-block clearfix">
					<h2>Планировки</h2>
					<div v-if="corpShown == 0" class="picker clearfix">
						<p>Выберите корпус</p>
						<div data-corp="4.1" v-on:click="pickPlan" v-bind:class="[corpPicked == 4.1 ? 'active' : '']" class="pick-btn">4.1</div>
						<div data-corp="4.2" v-on:click="pickPlan" v-bind:class="[corpPicked == 4.2 ? 'active' : '']" class="pick-btn">4.2</div>
						<div data-corp="5.1" v-on:click="pickPlan" v-bind:class="[corpPicked == 5.1 ? 'active' : '']" class="pick-btn">5.1</div>
						<div data-corp="5.2" v-on:click="pickPlan" v-bind:class="[corpPicked == 5.2 ? 'active' : '']" class="pick-btn">5.2</div>
						<div data-corp="6.1" v-on:click="pickPlan" v-bind:class="[corpPicked == 6.1 ? 'active' : '']" class="pick-btn">6.1</div>
						<div data-corp="6.2" v-on:click="pickPlan" v-bind:class="[corpPicked == 6.2 ? 'active' : '']" class="pick-btn">6.2</div>
					</div>
					<button v-if="corpShown == 0" v-on:click="showPlan" class="btn btn-red">Показать планировки</button>
				</div>
				<div v-if="corpShown != 0" class="floor-plan clearfix">
					<button v-on:click="hidePlan" class="btn-close"></button>
					<div class="picker">
						<p class="title">Корпус {{corpPicked}}</p>
						<p>Выберите корпус</p>
						<div data-corp="4.1" v-on:click="pickPlan" v-bind:class="[corpPicked == 4.1 ? 'active' : '']" class="pick-btn">4.1</div>
						<div data-corp="4.2" v-on:click="pickPlan" v-bind:class="[corpPicked == 4.2 ? 'active' : '']" class="pick-btn">4.2</div>
						<div data-corp="5.1" v-on:click="pickPlan" v-bind:class="[corpPicked == 5.1 ? 'active' : '']" class="pick-btn">5.1</div>
						<div data-corp="5.2" v-on:click="pickPlan" v-bind:class="[corpPicked == 5.2 ? 'active' : '']" class="pick-btn">5.2</div>
						<div data-corp="6.1" v-on:click="pickPlan" v-bind:class="[corpPicked == 6.1 ? 'active' : '']" class="pick-btn">6.1</div>
						<div data-corp="6.2" v-on:click="pickPlan" v-bind:class="[corpPicked == 6.2 ? 'active' : '']" class="pick-btn">6.2</div>
					</div>
					<div class="floor-plan-content">
						<img v-bind:src="'img/floor-plan-' + corpPicked + '.png'" alt="Поэтажный план" class="img-responsive">
						<div class="legend clearfix">
							<div class="left-col">
								<div class="prices clearfix">
									<div class="cell">
										<div class="legend-color yellow"></div>
									</div>
									<div class="cell">
										<p v-if="corpPicked == 4.1">Однокомнатные квартиры (от {{corp4_1.room1scale}} м<sup>2</sup>) от <span class="strong">{{corp4_1.room1}} р.</span></p>
										<p v-if="corpPicked == 4.2">Однокомнатные квартиры (от {{corp4_2.room1scale}} м<sup>2</sup>) от <span class="strong">{{corp4_2.room1}} р.</span></p>
										<p v-if="corpPicked == 5.1">Однокомнатные квартиры (от {{corp5_1.room1scale}} м<sup>2</sup>) от <span class="strong">{{corp5_1.room1}} р.</span></p>
										<p v-if="corpPicked == 5.2">Однокомнатные квартиры (от {{corp5_2.room1scale}} м<sup>2</sup>) от <span class="strong">{{corp5_2.room1}} р.</span></p>
										<p v-if="corpPicked == 6.1">Однокомнатные квартиры (от {{corp6_1.room1scale}} м<sup>2</sup>) от <span class="strong">{{corp6_1.room1}} р.</span></p>
										<p v-if="corpPicked == 6.2">Однокомнатные квартиры (от {{corp6_2.room1scale}} м<sup>2</sup>) от <span class="strong">{{corp6_2.room1}} р.</span></p>
									</div>
								</div>
								<div class="prices clearfix">
									<div class="cell">
										<div class="legend-color green"></div>
									</div>
									<div class="cell">
										<p v-if="corpPicked == 4.1">Двухкомнатные квартиры (от {{corp4_1.room2scale}} м<sup>2</sup>) от <span class="strong">{{corp4_1.room2}} р.</span></p>
										<p v-if="corpPicked == 4.2">Двухкомнатные квартиры (от {{corp4_2.room2scale}} м<sup>2</sup>) от <span class="strong">{{corp4_2.room2}} р.</span></p>
										<p v-if="corpPicked == 5.1">Двухкомнатные квартиры (от {{corp5_1.room2scale}} м<sup>2</sup>) от <span class="strong">{{corp5_1.room2}} р.</span></p>
										<p v-if="corpPicked == 5.2">Двухкомнатные квартиры (от {{corp5_2.room2scale}} м<sup>2</sup>) от <span class="strong">{{corp5_2.room2}} р.</span></p>
										<p v-if="corpPicked == 6.1">Двухкомнатные квартиры (от {{corp6_1.room2scale}} м<sup>2</sup>) от <span class="strong">{{corp6_1.room2}} р.</span></p>
										<p v-if="corpPicked == 6.2">Двухкомнатные квартиры (от {{corp6_2.room2scale}} м<sup>2</sup>) от <span class="strong">{{corp6_2.room2}} р.</span></p>
									</div>
								</div>
								<div class="prices clearfix">
									<div class="cell">
										<div class="legend-color blue"></div>
									</div>
									<div class="cell">
										<p v-if="corpPicked == 4.1">Трёхкомнатные квартиры (от {{corp4_1.room3scale}} м<sup>2</sup>) от <span class="strong">{{corp4_1.room3}} р.</span></p>
										<p v-if="corpPicked == 4.2">Трёхкомнатные квартиры (от {{corp4_2.room3scale}} м<sup>2</sup>) от <span class="strong">{{corp4_2.room3}} р.</span></p>
										<p v-if="corpPicked == 5.1">Трёхкомнатные квартиры (от {{corp5_1.room3scale}} м<sup>2</sup>) от <span class="strong">{{corp5_1.room3}} р.</span></p>
										<p v-if="corpPicked == 5.2">Трёхкомнатные квартиры (от {{corp5_2.room3scale}} м<sup>2</sup>) от <span class="strong">{{corp5_2.room3}} р.</span></p>
										<p v-if="corpPicked == 6.1">Трёхкомнатные квартиры (от {{corp6_1.room3scale}} м<sup>2</sup>) от <span class="strong">{{corp6_1.room3}} р.</span></p>
										<p v-if="corpPicked == 6.2">Трёхкомнатные квартиры (от {{corp6_2.room3scale}} м<sup>2</sup>) от <span class="strong">{{corp6_2.room3}} р.</span></p>
									</div>
								</div>
							</div>
							<div class="right-col">
								<p>Первоначальный взнос по ипотеке от 0% на срок до 30 лет.</p>
							</div>
						</div>
						<div class="text">
							<p>Быстро узнать доступные квартиры  и их стоимость можно по телефону:<br><my-phone></my-phone></p>
							<div class="btns">
								<a href="#popup" class="btn btn-yellow">Рассчитать ипотеку</a>
								<a href="#popup" class="btn btn-red">Отправить заявку</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section id="mortgage">
			<div class="container">
				<div class="content-block">
					<h2>Ипотека</h2>
					<p>Работаем с 15 банками-партнёрами, предлагаем покупателям выгодные процентные ставки — от <span class="strong">7,5</span> %.</p>
					<div class="clearfix">
						<div class="bank-logo"><img src="img/logo-bank-1.png" alt="Банк" class="img-responsive"></div>
						<div class="bank-logo"><img src="img/logo-bank-2.png" alt="Банк" class="img-responsive"></div>
						<div class="bank-logo"><img src="img/logo-bank-3.png" alt="Банк" class="img-responsive"></div>
						<div class="bank-logo"><img src="img/logo-bank-4.png" alt="Банк" class="img-responsive"></div>
						<div class="bank-logo"><img src="img/logo-bank-5.png" alt="Банк" class="img-responsive"></div>
						<div class="bank-logo"><img src="img/logo-bank-6.png" alt="Банк" class="img-responsive"></div>
						<div class="bank-logo"><img src="img/logo-bank-7.png" alt="Банк" class="img-responsive"></div>
						<div class="bank-logo"><img src="img/logo-bank-8.png" alt="Банк" class="img-responsive"></div>
					</div>
					<div class="btn-block">
						<a href="#popup" class="btn btn-red">Отправить заявку</a>
					</div>
				</div>
			</div>
		</section>
		<section id="contacts">
			<div id="map-contacts"></div>
			<div class="content">
				<div class="container">
					<div class="contacts-block">
						<h2>Контакты</h2>
						<img src="img/contacts-logo.png" alt="Сити XXI век" class="img-responsive">
						<p class="title">Офис продаж</p>
						<p>Видное, ул. Радужная д. 6/2<br>Часы работы: ежедневно, с 10:00 до 21:00.</p>
						<my-phone></my-phone>
						<div class="btn-block">
							<a href="#popup" class="btn btn-red">Заказать звонок</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>

	<div class="mfp-hide popup" id="popup">
		<div class="popup-img">
			<p class="title">Заказать звонок</p>
		</div>
		<form method="POST" name="super">
			<p>Мы подскажем информацию о стоимости квартир, доступных планировках, расположении и акциях.</p>
			<div class="tabs clearfix">
				<span class="tab active">Заказать звонок</span>
				<span class="tab">Получить консультацию</span>
				<span class="tab">Рассчитать ипотеку</span>
			</div>
			<input type="tel" class="phone" name="phone" placeholder="+7 (000) 000-00-00">
			<div class="submit">
				<button type="submit" class="btn btn-red">Заказать звонок</button>
			</div>
		</form>
	</div>
	<div class="mfp-hide popup flipInY animated" id="tnx-popup">
		<div class="popup-img">
			<p class="title">Спасибо за Вашу заявку!</p>
		</div>
		<p>Сейчас совершается бесплатный звонок из отдела продаж.<br>Для получения информации уточните менеджеру интересующий Вас вопрос.</p>
		<div class="success">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.54 29.88"><defs><style>.success{fill:#fff;}</style></defs><title>success</title><path id="success-check" data-name="success-check" class="success" d="M31.81,0L13,18.55l-7.3-7.2L0,17,13,29.89,37.55,5.69Z" transform="translate(0 -0.01)"/></svg>
		</div>
	</div>
	<div class="mfp-hide popup flipInY animated" id="tnx-popup-no-one-home">
		<p class="title">Спасибо<br>за Вашу заявку!</p>
		<div class="popup-img">
			<p class="title">Спасибо за Вашу заявку!</p>
		</div>
		<p>Отдел продаж уже закончил работу.<br>Вам придёт бесплатный звонок из отдела продаж. Точное время звонка придёт Вам по SMS. Для получения информации, пожалуйста, уточните менеджеру интересующий Вас вопрос.</p>
		<div class="success">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 37.54 29.88"><defs><style>.success{fill:#fff;}</style></defs><title>success</title><path id="success-check" data-name="success-check" class="success" d="M31.81,0L13,18.55l-7.3-7.2L0,17,13,29.89,37.55,5.69Z" transform="translate(0 -0.01)"/></svg>
		</div>
	</div>
	
	<link rel="stylesheet" href="css/main.css">
	<script src="js/libs.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBoMgfWKqcPPgOex-pMvQ74jRJweHqEk3I"></script>

	<!-- Google Analytics -->
	<!-- PUT YOUR CODE HERE -->
	<!-- /Google Analytics -->

	<!-- Yandex.Metrika counter -->
	<!-- PUT YOUR CODE HERE -->
	<!-- /Yandex.Metrika counter -->

	<script src="js/common.js"></script>
	
	<!-- calltouch code -->
	<!-- PUT YOUR CODE HERE -->
	<!-- /calltouch code -->

</body>
</html>